.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.nav-list{
  height: 100vh;
  background-color: gray;
  text-align: start;
  padding: 0px;
  margin: 0px;
}
.nav-list-item{
  display: flex;
  height:60px;
  width:100%;
justify-content: center;
align-items: center;
color:white;
font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.p0{
  padding: 0px;
}
.p-float-label > label{
  left:1.2em
}
.tab-panel{
  min-height:200px;
}
.nav-list-item a{
  color:white
}
.nav-list-item.active{
  background-color: black;
}
header{
  height:60px;
  border-bottom: 1px solid #c6c6c6;
  display: flex;
  align-items: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
